/*ID*/
#encabezado{
    background-color: #7E4D9A;
    padding: 1px;
    border-radius: 1px;
    text-align: center;
    font-size: xx-small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#nav1{
    background-color:#C39BD3;
    padding: 1px;
    border-radius: 1px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: white;
}

#nav2{
    background-color:#F8F9F9;
    padding: 1px;
    border-radius: 1px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Class*/

.imgRight{
    margin-right: -50%;
    width: 1%;
}

.leftNav{
    margin-left: -50%;
    font-weight: bold;
}

.rightNav{
    margin-right: -50%;
    font-weight: bold;
}

.title{
    margin-left: -12%;
    font-size: 30px; 
    font-family:cursive; 
    color:indigo;
    transition: font-style 0.3s, font-weight 0.3s;
}

.margen{
    margin-top: 10px;
    color: black;
    font-size: 18px;
    margin-left: -5%;
    margin-right: -5%;
    transition: font-style 0.3s, font-weight 0.3s;
}

.tools{
    margin-right: -12%;
}

/*Universal*/

footer{
    background-color: #7E4D9A;
    padding: 1px;
    border-radius: 1px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer nav{
    font-weight: bolder;
}

input:hover{
    transition: filter 0.3s;
    filter: saturate(180%);
}

label{
    text-align: center;
    color: white;
    padding: 22px 20px;
    text-decoration: none;
    border-radius: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #7E4D9A;  
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
}

nav a{
    text-align: center;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 10px;
}

nav a:hover{
    font-style: italic;
    font-weight: bold;
    transition: font-style 0.3s, font-weight 0.3s;
}

nav input{
    height: 60px;
    width: 60px;
}

section{
    text-align: center;
}

section input{
    height: 18%;
    width: 18%;
    padding: 35px;
    transition: filter 0.3s;
}

section img{
    height: 21%;
    width: 21%;
    border-radius: 5px;
    margin-bottom: 10px;
}

section img:hover{
    transition: filter 0.3s;
    filter: saturate(180%);
}
